[Unit]
Description=SFIA Project
[Service]
User=sfia
WorkingDirectory=/opt/sfia1
EnvironmentFile=/opt/sfia1/sfia.env
ExecStart =/bin/sh \
	-c 'cd /opt/sfia1 && \
	. ./venv/bin/activate && \
	gunicorn --workers=4 --bind=0.0.0.0:5000 app:app'
[Install]
WantedBy=multi-user.target
