[Unit]
Description=Flask Project
[Service]
User=sfia
WorkingDirectory=/opt/SFIA-Project1
EnvironmentFile=/opt/SFIA-Project1/sfia1.env
ExecStart=/bin/sh \
	-c 'cd /opt/SFIA-Project1 && \
	. ./venv/bin/activate && \
	gunicorn --workers=4 --bind=0.0.0.0:5000 app:app'
[Install]
WantedBy=multi-user.target
