{% extends "layout.html" %}
{% block body_content %}
    <center><h2><u> Welcome to the Festival of 2020!</u></h2> 
    <p> <b>La Fiesta de Piscina</b> is the UK's leading music festival 
	     and takes place at its home in Hyde Park,  London each year.</p>
	<p>It has since grown to establish itself the UK's top and 
	    internationally acclaimed music festival.</p> 
    <br><p><b>*******Due to COVID-19,  La Fiesta 2020 has been rescheduled to take 
	  place next year from 4 - 6 June 2021*******</b></center></p>
{% endblock %}
