{% extends "layout.html" %}
{% block body_content %}
<center><h2><u> {{current_user.first_name}} {{current_user.last_name }}'s Orders: </u></h2>
{% if orders %}
    {% for order in orders %}
        <div>
        <p><i>Order ID #</i>{{ order.id }}</p>
        <p><b>Email: </b>{{ order.email }}</p>
        <p><b>Number of Tickets: </b>{{ order.tickets }}</p>
        <br></div>
    {% endfor %}
{% else %}
    <p>Error 404: You have not made any orders! :( </p>
{% endif %}
<p><b>***Update your order here!***</b></p>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.id.label }}
                {{ form.id }}
                {% if form.id.errors %}
                <div class="error">
                    {% for error in form.id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email }}
                {% if form.email.errors %}
                <div class="error">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.tickets.label }}
                {{ form.tickets }}
                {% if form.tickets.errors %}
                    <div class='error'>
                        {% for error in form.tickets.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div>
                {{ form.submit }}
            </div>
       </form>
    <div class='form'>
	<form action="{{ url_for('account_orders') }}">
        <button type="submit">Back to Orders Page</button>
        </form>
</center>
{% endblock body_content %}
