{% extends "layout.html" %}
{% block body_content %}
<center><h2><u> {{current_user.first_name}} {{current_user.last_name }}'s Orders: </u></h2>
{% if orders %}
    {% for order in orders %}
        <div>
	<p><i>Order ID #</i>{{ order.id }}</p>
    	<p><b>Email: </b>{{ order.email }}</p>
	<p><b>Number of Ticket(s): </b>{{ order.tickets }}</p>
	<br></div>
    {% endfor %}
{% else %}
    <p>Error 404: You have not made any orders! :( </p>
{% endif %}
	<form action="{{ url_for('order_update') }}">
        <button type="submit">Update an Order</button>
        </form>
	<form action="{{ url_for('order_delete') }}">
        <button type="submit">Delete an Order</button>
        </form>
        <form action="{{ url_for('account') }}">
        <button type="submit">Back to Account Page</button>
        </form>
</center>
{% endblock body_content %}
